/* src/landingPage.css */
.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}


/* landingPage.css */
.parallax-image {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
