.parallax {
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }
  
  .parallax-left {
    left: 0;
  }
  
  .parallax-right {
    right: 0;
  }
  